---
layout: null
---
#wrapper {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-top: calc(3em + 3px);
  padding-bottom: 5em;
}

#header {
  height: 1em;
  width: 100%;
  padding: 1em 0;
  color: #fff;
  background-color: #333;
  border-bottom: 3px #3fafee solid;
  display: flex;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}

#header a {
  color: #fff;
  text-decoration: none;
  padding: 1em .5em;
  font-size: 20px;
}

#header a:hover {
  color: #333;
  background-color: #eee;
  border-radius: 1px;
}

#navbar-home {
  margin-right: auto;
}

#navbar-menu-button {
  display: none;
}

#footer {
  color: #fff;
  text-align: center;
  background-color: #333;
  position: relative;
  height: 5em;
  margin-top: -5em;
  clear: both;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer h3 {
  margin: 0;
  display: inline-block;
}
