---
layout: null
---

* {
  font-size: 20px;
  font-family: Lato;
  padding: 0;
  margin: 0;
  list-style: none;
}

html, body {
  height: 100%;
  margin: 0;
}

h1,h2,h3 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/* ------------ Section A ------------ */

/* Size section A */
#section-a {
  height: calc(100vh - 3em - 3px);
  position: relative;
}

/* Set hero container */
#hero-container {
  height: 500px;
  width: 100%;
  position: relative;
  background-color: #333;
}

/* Place and style hero image */
#hero-picture {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("{{ site.baseurl }}/img/hero-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(6px);
  opacity: .5;
}

/* Place and style hero text */
#hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 50px;
  background-color: #333;
  opacity: .90;
  border: 2px #3fafee solid; */
  color: #fff;
  text-align: center;
}

/* Style hero header text */
#hero-text h1 {
  font-size: 70px;
  font-weight: 900;
}

/* Style hero sub header text */
#hero-text h3 {
  font-weight: 700;
}

#portrait {
  height: 160px;
  width: 160px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#portrait img {
  height: 230px;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
}

#skill-cards {
  display: grid;
  grid-template-columns: 1fr repeat(4, minmax(auto, 400px)) 1fr;
  grid-template-rows: auto auto;
  padding: 30px 0;
  background-color: #e7e7e7;
}

.skill {
  margin: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #aaa;
}

.skill h3 {
  font-size: 30px;
  font-weight: 700i;
  margin: 20px;
}

.skill p {
  margin: 10px;
}

.skill-picture {
  height: 100px;
  width: 100%;
  overflow: hidden;
  background-image: url("{{ site.baseurl }}/img/banner-ml-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#skill-card-1 {
  grid-column: 2;
}

#skill-card-2 {
  grid-column: 3;
}

#skill-card-3 {
  grid-column: 4;
}

#skill-card-4 {
  grid-column: 5;
}
