---
layout: null
---

/* Core Styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 55px 0 0 0;
  background: #fff;
  color: #333;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

footer {
  margin-top: 50px;
  height: 100px;
  width: 100%;
  background-color: #333;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 15px 0;
}

p {
  margin: 0;
  padding: 1em 0;
}


/* Style list elements */
#section-posts li {
  padding-left: 40px;
  text-align: left;
}

/* Style Posts */
#section-posts a {
  color: #333;
  text-decoration: underline;
  text-decoration-color: #63e7ad;
}

/* Set background for section B */
#section-b {
  background-color: #333;
  color: #fff;
}

/* Set background for section C */
#section-c {
  background-color: #cfffe5;
  color: #fff;
}

/* Style section C header */
#section-c h1 {
  background-color: #fff;
  color: #333;
}

/* Style navbar */
#navbar {
  display: flex;
  height: auto;
  background-color: #333;
  opacity: .95;
}

/* Align navbar home button */
#navbar-home {
  display: flex;
}

/* Align navbar site buttons */
#navbar-sites {
  display: flex;
  margin-left: auto;
}

/* Style navbar buttons */
#navbar-home a,
#navbar-sites a,
.navbar-links a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
}

/* Style navbar buttons on hover */
#navbar-home a:hover,
#navbar-sites a:hover {
  background-color: #cfffe5;
  color: #333;
}

/* Hide icon for PCs */
.icon {
  display: none;
}

/* Format footer */
#main-footer a {
  text-decoration: none;
  color: #fff;
}

/* Style card wrapper */
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* Style cards in section C */
.card {
  background-color: #fff;
  color: #333;
  margin: 15px 20px;
  max-width: 30%;
  border-radius: 10px;
  overflow: hidden;
}

/* Style card headers */
.card h3, p {
  padding: 15px 15px;
}


@media screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(auto, 20vw)) 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .section-a}


@media screen and (max-width: 600px) {
  #section-c {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .icon {
    display: block;
  }

  #navbar-home a,
  #navbar-sites a,
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
  }

  #navbar-sites {
    flex-direction: column;
    display: none;
    padding-top: 50px;
  }

  #navbar-menu-button {
    margin-left: auto;
  }

  #navbar-sites a {
    text-align: left;
    display: flex;
    overflow: scroll;
  }

  .post-list {
    padding: 0;
  }

  #portrait {
    position: relative;
    z-index: -1;
    border-bottom: 5px solid #aaf0d1;
    background-color: #333;
  }

  #portrait img {
    opacity: .95;
  }
}
