---
layout: null
---

/* Core Styles */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #333;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

/* Set color, opacity, and arange icons of navbar */
#navbar {
  display: flex;
  width: 100%;
  background-color: #333;
  opacity: .97;
}

/* Order navbar items */
#navbar-items {
  display: flex;
}

/* Format Navbar Items */
#navbar-items a {
  color: #fff;
  text-decoration: none;
  padding: 1em 1em;
}

/* Add highlight to nav items on hover */
#navbar-items a:not(:last-child):hover{
  background-color: #eee;
  color: #333;
}

/* Hide the link that should open and close the topnav on small screens */
#navbar-items .icon {
  display: none;
}

.navbar-items-right {
  margin-left: auto;
}

#portrait {
  margin-top: 3em;
}


@media only screen and (max-width: 900px) {
  #navbar-items .icon {
    display: block;
  }

  .navbar-items-right {
    flex-direction: column;
  }

  .navbar-items-right a:not(:first-child) {
    text-align: left;
    display: none;
  }
}
