<header id="showcase" class="grid">
  <div class="content-wrap">
    <div id="navbar">
      <nav id="navbar-items">
        <a href="#Home" id="home">Home</a>
      </nav>
      <nav id="navbar-items" class="navbar-items-right">

        <!-- Compact Menu Button -->
        <a href="javascript:void(0);" class="icon">
          <i class="fa fa-bars"></i>
        </a>

        <a href="#networking">Networking</a>
        <a href="#devops">DevOps</a>
        <a href="#machinelearning">Machine Learning</a>
        <a href="#certs">Certs</a>
      </nav>
    </div>
  </div>
</header>
