<header id="showcase" class="grid">
  <div class="content-wrap">
    <div id="navbar">
      <nav id="navbar-items">
        <a href="#Home">Home</a>
      </nav>
      <nav id="navbar-items" class="navbar-items-right">
        <a href="#networking">Networking</a>
        <a href="#devops">DevOps</a>
        <a href="#certs">Certs</a>

        <!-- Compact Menu Button -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </nav>
    </div>
  </div>
</header>
