<header id="showcase" class="grid">
  <div class="content-wrap">
    <div id="navbar-main">
      <a href="#Home">Home</a>
      <div class="navbar-sites" id="navbar-sites">
        <a href="#networking">Networking</a>
        <a href="#devops">DevOps</a>
        <a href="#machinelearning">Machine Learning</a>
        <a href="#certs">Certs</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  </div>
</header>
