---
layout: default
---

<main id="main">
  {{ content }}

  <div id="post-wrapper">
    <h1>B &#183; L &#183; O &#183; G</h1>
    <div id="post-banner-1"></div>
    <div id="section-posts" class="grid">
      {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li class="hvr-wobble-horizontal">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

      <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
      {%- endif -%}
    </div>
    <div id="post-banner-2"></div>
  </div>
</main>
